<div class="photo-index">
  <div class="phototitle-index">
    Search
  </div>
</div>

<!--
<%= form_tag gourmets_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :tag_id,
    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
    {prompt: '都道府県を選択する',onchange: 'submit(this.form);'
    }   
  %>
<% end %>
-->

<div class="area1">
  <div class="Hokkaido">
    <a href="/gourmets/Hokkaido"><h3>Hokkaido</h3></a>
  </div>

  <div class="Tokyo">
    <a href="/gourmets/Tokyo"><h3>Tokyo</h3></a>
  </div>
</div>

<div class="area2">
  <div class="Osaka">
    <a href="/gourmets/Osaka"><h3>Osaka</h3></a>
  </div>

  <div class="Fukuoka">
    <a href="/gourmets/Fukuoka"><h3>Fukuoka</h3></a>
  </div>
</div>