.photo-post{
  background-image: url("post1.jpg");
  background-size: cover;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.phototitle-post{
  font-size: 25vh;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-style: italic;
  color: white;
  padding-top: 300px;
}

.title-post-container{
  text-align: center;
  font-size:50px;
  background-color: #f4ffff;
}

.post-container2{
  justify-content: center;
  background-color: #f4ffff;

}

.post_form{
  justify-content: center;
}

.map{
  width: 50vw;
  margin-left: 30vw;
  margin-right: 20vw;
}

.map-title{
  text-align: center;
}

.post-field-title{
    width:8vw;
    background: #b01d36;
    color: #fff;
    text-align: center;
}

.post-container3{
  width: 50vw;
  margin-left: 40vw;
  margin-right: 10vw;
}

.post_judge{
  text-align: center;
}

.post-container1{
  background-color: #f4ffff;
}