.slideBox {
  width:100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  z-index: -10;
}

.title {
  font-size: 120px;
  font-style: italic;
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.slider .slider_fade>img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  visibility: hidden;
  animation: anime_slider_fade 20s 0s infinite;
}

.slider .slider_fade>img:nth-of-type(2) {
  animation-delay: 4s;
}

.slider .slider_fade>img:nth-of-type(3) {
  animation-delay: 8s;
}

.slider .slider_fade>img:nth-of-type(4) {
  animation-delay: 12s;
}

.slider .slider_fade>img:nth-of-type(5) {
  animation-delay: 16s;
}

@keyframes  anime_slider_fade{
0% {
  visibility: visible;
  opacity: 0;
}
15% {
  opacity: 1;
}
25% {
  opacity: 1;
}
48.3% {
  opacity: 0;
}
100% {
  opacity: 0;
}
}

.Okonomiyaki-pagenation{
  padding-top: 50px;
}

.user_img{
  margin-right: 50px;
}

.photo-Okonomiyaki1{
  margin-left: 150px;
}

.detail2{
  margin-left: 150px;
}

.Okonomiyakibox1{
  display: flex;
  flex-wrap: wrap;
}

.Okonomiyakibox2{
  display: flex;
  width: 24vw;
  height: 58vh;
  margin: 4vh 4vw;
  border: 2px solid;
}

.Okonomiyaki-gourmets-container1{
  width: 24vw;
  height: 58vh;
}

.Okonomiyaki-field1 {
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  align-items: center; /* 縦方向に中央寄せ */
}

.Okonomiyaki-body1 {
  color: white;
  background-color: maroon;
  text-align: center;
  margin-left: 2vw;
  margin-right: 1vw;
  width: 7vw;
  height: 4vh;
  display: flex;
  align-items: center; /* 縦方向に中央寄せ */
  justify-content: center; /* 横方向に中央寄せ */
}

.Okonomiyaki-index-photo{
  width:20vw;
  height:28vh;
  margin-top: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 20px/30px ; 
}

.Okonomiyaki-field2{
  margin-left: 2vw;
}