.slideBox {
  width:100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  z-index: -10;
}

.title {
  font-size: 120px;
  font-style: italic;
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* imgのみ */
.item2 {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 55px;
  -webkit-animation: anime 20s 0s infinite;
  animation: anime 20s 0s infinite;
}

.item2:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.item2:nth-of-type(3) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

.item2:nth-of-type(4) {
  -webkit-animation-delay: 8s;
  animation-delay: 12s;
}

.item2:nth-of-type(5) {
  -webkit-animation-delay: 8s;
  animation-delay: 16s;
}

/* ふわっとアニメーション */
@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.d-demo-Osaka {
  display: -ms-grid;
  overflow: hidden;
  height: 60vh;
  width: 50vw;
  margin-top: 2.5%;
}
/*----------------------------*/

.d-demo__wrap-Osaka {
  display: flex;
  overflow: hidden;
  width: 50vw;
}

.d-demo__list-Osaka {
  display: flex;
  list-style: none;
  height: 60vh;
  justify-content: center;
}

.d-demo__list--left-Osaka {
animation :infinity-scroll-left 40s infinite linear 0.1s both;
}

.slide-image0 {
  height: 60vh;
  margin-right: 20px;
}

.slide-image1{
  border-radius: 40px/60px ; 
  width:35vw;
  height: 60vh;
}

.Osaka-intro-container1{
  display: flex;
  padding-top: 30px;
  padding-left: 5vw;
  padding-right: 5vw;
  z-index: -10;
  height: 60vh;
}

.Osaka-intro{
padding: 0;
display: flex;
width: 40vw;
}

.Osaka-intro-title{
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
}

.Osaka-intro-title p{
  font-weight: bold;
  font-size: 35px;
  font-family: serif;
}

.Osaka-intro-detail{
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
margin-left: 4vw;
margin-right: 4vw;
width: 20vw;
}

.Osaka-gourmet-title{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
}

.Osaka-gourmet1-container{
  display: flex;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vw;
}

.Osaka-gourmet1-photo{
  width: 40vw;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; /* 水平方向に中央配置 */
  align-items: center; /* 垂直方向に中央配置 */
}

.Osaka-gourmet1-right{
  margin-left: 2vw;
  padding: 0;
  width: 40vw;
}

.Osaka-gourmet1-title {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}

.Osaka-gourmet1-catch{
  padding-top: 1vh;
  padding-bottom: 3vh;
}

.Osaka-gourmet1-catch h3{
  color: #444;
  font-size: 20px;
}

.Osaka-gourmet1-detail{
  padding: 0;
}

.Osaka-gourmet1-link{
  padding-top:6vh;
  font-size: 20px;
}

.Osaka-gourmet2-container{
  display: flex;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vw;
}

.Osaka-gourmet2-photo{
  width: 40vw;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; /* 水平方向に中央配置 */
  align-items: center; /* 垂直方向に中央配置 */
}

.Osaka-gourmet2-right{
  margin-left: 2vw;
  padding: 0;
  width: 40vw;
}

.Osaka-gourmet2-title {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}

.Osaka-gourmet2-catch{
  padding-top: 1vh;
  padding-bottom: 3vh;
}

.Osaka-gourmet2-catch h3{
  color: #444;
  font-size: 20px;
}

.Osaka-gourmet2-detail{
  padding: 0;
}

.Osaka-gourmet2-link{
  padding-top:6vh;
  font-size: 20px;
  width: 18vw;
}

.hover {
  padding-bottom: 5px;
  position: relative;
}

.hover::before {
  background: red;
  content: '';
  width: 18vw;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.hover:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.hover31{
  width: 15vw;
}

.hover32{
  width: 16vw;
}

.hover33{
  width: 13.5vw;
}

.hover34{
  width: 13vw;
}