.DM-page{
  padding-top: 10vh;
}

.dmMain{
  border:1px solid darkgray;
  text-align: center;
  background-color: #f4ffff;
  height: 15vh;
  padding-top: 5vh;
}

.dmusername{
  border:1px solid darkgray;
  background-color: #f4ffff;
}

.dmmessagebox {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
  background-color: #b7dbff;
}

.left2 {
  text-align: center; /* テキストを左寄せにする */
}

small{
  position: absolute;
  top: -20px;
}

.text-center{
  text-align: center;
}

.right1{
  display: flex;
  flex-direction: row-reverse;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-right: 2vw;
}

.left1{
  display: flex;
  padding-top: 1.5vh;  
  padding-bottom: 1.5vh;
}

.dmmessage-body-left{
  width: 30%;
  height: 50px;
  background:  white;
  text-align: left;
  border-radius: 12px;
  display: inline-block;
  position: relative; 
  padding: 10px;
}

.dmmessage-body-left:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid white;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.dmmessage-body-right{
  width: 30%;
  height: 50px;
  background:  #CCFFCC;
  text-align: left;
  border-radius: 12px;
  display: inline-block;
  position: relative; 
  padding: 10px;
}

.dmmessage-body-right:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #CCFFCC;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}

.chat-group-show-talk1{
  background-color: #b7dbff;
}