* {
  margin: 0;
  padding: 0;
}

.title-container {
  margin-top: 100px;
  text-align: center;
}

h1 {
  font-size: 80px;
  font-family: serif;
  color: #444;
  text-align: center;
}

h3 {
  color: #444;
  margin-top: 100px;
  text-align: center;
}

.area{
  text-align: center;
}

.gourmet-container{
  width: 50%;
  margin: 10px auto;
}