* {
  margin: 0;
  padding: 0;
}

.title-container {
  margin-top: 100px;
  text-align: center;
}

.area{
  text-align: center;
}

.map-container{
  background-color: #f4ffff;
}

.detail-gourmet-container1{
  background-color: #f4ffff;
}

.map-title{
  background-color: #f4ffff;
}

.comment-wrapper1{
  background-color: #f4ffff;
}