* {
  margin: 0;
  padding: 0;
}

.slide-image {
  width: auto;
  height: 90vh;
  margin-right: 20px;
}

/*   Second block   */
.second-block {
  background-color: #f4ffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.title-about{
  font-size: 60px;
  font-style: italic;
  font-family: 'Kaushan Script', cursive;
  color: #444;
  text-align: center;
}

.info-text {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
  color: #444;
  width: 30%;
}
/*   Second block End   */

/*   Third block Start   */
.third-block {
  background-color:  #f4ffff;
  text-align: center;
  padding-bottom: 100px;
}

.feature-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.title-feature{
  font-size: 60px;
  font-style: italic;
  font-family: 'Kaushan Script', cursive;
  color: #444;
  text-align: center;
  margin-bottom: 100px;
}

.font-small {
  font-size: 15px;
  text-align: center;
}

.feature-image {
  width: 300px;
  height: 250px;
}
/*   Third block End   */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #000;
  font-size: 15px;
  color: #fff;
}

b {
  font-size: 40px;
}

.top-about1-photo{
  width: 50vw; /*画像サイズ指定*/
  margin-right: 0vw;
  overflow: hidden;
  position: relative;
}

.top-about-image1{
  width: 50vw;
}

.top-about1-title {
  margin: 0;
  padding-top: 30px;
  font-weight: bold;
  font-size: 18px;
}

.top-about1-detail{
  margin: 5vh 5vw;
  padding: 0;
  font-size: 20px;
}

.top-about1-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-about1-right {
  width: 50vw; /* 文章が広がりすぎないように制限 */
}


.top-about2-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-about2-photo{
  width: 50vw; /*画像サイズ指定*/
  margin-right: 0vw;
  overflow: hidden;
  position: relative;
}

.top-about-image2{
  width: 50vw;
}

.top-about2-right{
  width: 50vw; /* 文章が広がりすぎないように制限 */
}

.top-about2-title {
  margin: 0;
  padding-top: 30px;
  font-weight: bold;
  font-size: 18px;
}

.top-about2-detail{
  margin: 5vh 6vw;
  padding: 0;
  font-size: 20px;
}

.video-content-top{
  width: 95vw;
  height: 100vh;
}

.top-top{
text-align: center;
width: 100%;
position: relative;
padding-top: 50px;
background-color: #f4ffff;
}
