  <!--
    <header>
      <h1 class="headline">
        <a>Test</a>
      </h1>
      <ul class="nav-list">
        <li class="nav-list-item">about gourmet</li>
        <li class="nav-list-item"><%= link_to "診断", tests_path, class: "link" %></li>
      </ul>
    </header>
  -->

<!--
  <div class="photo-test">
    <div class="phototitle-test"> 
      Test
    </div>
  </div>

  <div class="start">
    <h6>Are you ready?</h6>
      <%= link_to "診断を始める", new_test_path, class: "link" %>
  </div>
-->