<div class="photo-test">
  <div class="phototitle-test"> 
    Test
  </div>
</div>


<div class="testbody-title">

  <div class="testbody-title1">
    あなたに合ったご当地グルメで旅行先を決めよう
    <div class="testbody-title2">
      おすすめご当地グルメ診断
    </div>
  </div>

</div>



<div id="wrapper">
  <div class="sense">
        <article id="pagebody">


            <div class="testtext-intro">
            <p>1分だけ下記の質問に答えてみてください。あなたにピッタリのご当地グルメがわかります!</p>
            </div>



            <ul class="qalist wf-mplus1p">

            <li id="1" class="question" style="min-height: 717px;">
                <a name="#1"></a>
                <div class="qbox">
                <span class="q">Q.</span>
                値段は①安く済ませたいですか?②高くても気にしないですか?</div>
                <div class="qabox">
                    <a href="#101" onclick="show(101)" class="qabtn"><div class="btnBox btnBox_y">①</div></a>
                    <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_n">②</div></a>
                </div>
            </li>
            <li id="2" class="question" style="display: none; min-height: 717px;">
                <a name="#"></a>
                <div class="qbox">
                <span class="q">Q.</span>
                食事をするなら①1人で食べる方が好きですか?②大勢で食べる方が好きですか?</div>
                <div class="qabox">
                    <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_y">①</div></a>
                    <a href="#3" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">②</div></a>
                </div>
            </li>
            <li id="3" class="question" style="display: none; min-height: 717px;">
                <a name="#"></a>
                <div class="qbox">
                <span class="q">Q.</span>
                味付けは①濃いほうが好きですか?②さっぱりしたほうが好きですか?</div>
                <div class="qabox">
                    <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">①</div></a>
                    <a href="#104" onclick="show(104)" class="qabtn"><div class="btnBox btnBox_n">②</div></a>
                </div>
            </li>
            </ul>

            <div class="answerList">

                <div id="101" style="display:none;" class="answer point_box">
                  <div class="box" >
                    <div class="title1">
                      <p>あなたにおすすめのご当地グルメは<span class="fs-18"><span class="bg-y">『たこ焼き』</span></span>です！</p>
                    </div>
                    <div class="txt">
                    <br>
                    <br>
                    <p></p>
                    
                        
                    </div>
                  </div>
                </div>
                
                <div id="102" style="display:none;" class="answer point_box">
                  <div class="box" >
                    <div class="title1">
                      <p>あなたにおすすめのご当地グルメは<span class="fs-18"><span class="bg-y">『江戸前寿司』</span></span>です！</p>
                    </div>
                    <div class="txt">
                    <p></p>
                    
                    </div>
                  </div>
                </div>

                <div id="103" style="display:none;" class="answer point_box">
                  <div class="box" >
                    <div class="title1">
                      <p>あなたにおすすめのご当地グルメは<span class="fs-18"><span class="bg-y">『ジンギスカン』</span></span>です！</p>
                    </div>
                    <div class="txt">
                    
                    北海道のジンギスカンは、日本国内外で愛される美味しい料理の一つです。この料理は、新鮮なラム肉を薄く切り、特製のソースで炒めたもので、その独特の風味と食べごたえが人々を魅了しています。
                    <br>
                    <br>
                    北海道のジンギスカンは、元々モンゴルの伝統的な料理である「ジンギスカン」をベースにしていますが、北海道独自のアレンジが加えられ、その結果、ユニークな味わいが生まれました。主な材料はラム肉、キャベツ、玉ねぎ、そして特製のタレで、これらの素材が一緒に炒められて、香ばしく焼き上げられます。ラム肉の旨味と、野菜の甘みが絶妙に組み合わさり、ジンギスカン特有の美味しさが楽しめます。
                    <br>
                    <br>
                    北海道のジンギスカンを食べる際には、炭火焼きが一般的で、その煙や香りが料理の魅力をさらに引き立てます。また、野菜や肉を自分で焼きながら楽しむスタイルも、友人や家族との楽しいひとときを演出します。
                    <br>
                    <br>
                    北海道を訪れた際には、ぜひ地元のジンギスカンレストランでこの美味しい料理を試してみてください。北海道の風土や文化を感じながら、ジンギスカンの独特の味わいを楽しむことができることでしょう。

                    </div>
                  </div>
                </div>

                <div id="104" style="display:none;" class="answer point_box">
                  <div class="box" >
                    <div class="title1">
                      <p>あなたにおすすめのご当地グルメは<span class="fs-18"><span class="bg-y">『水炊き』</span></span>です！</p>
                    </div>
                    <div class="txt">
                    <p></p>
                    </div>
                  </div>
                </div>



        </article>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
   $('a[href^=#]').click(function() {
      var speed = 600;
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top;
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
   });
});
$(function(){
    h = $(window).height();
    h = h-30;
    $(".question").css("min-height", h + "px");
    $(".answerList .box").css("min-height", h + "px");
    
});
function show(idName){ 
    $("#" + idName).show();
}

</script>


<!--
<div id="wrapper">
  <div class="sense">
        <article id="pageBody">


            <div class="testtext-intro">
            <p>1分だけ下記の質問に答えてみてください。あなたにピッタリの
            ご当地グルメがわかります</p>
            </div>



            <ul class="qalist wf-mplus1p">

            <li id="1" class="question" style="min-height: 717px;">
                <a name="#1"></a>
                <div class="qbox">
                <span class="q">Q.</span>
                値段は①安く済ませたいですか?②高くても気にしないですか?</div>
                <div class="qabox">
                    <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">①</div></a>
                    <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_n">②</div></a>
                </div>
            </li>
            <li id="2" class="question" style="display: none; min-height: 717px;">
                <a name="#"></a>
                <div class="qbox">
                <span class="q">Q.</span>
                食事をするなら①1人で食べる方が好きですか?②大勢で食べる方が好きですか?</div>
                <div class="qabox">
                    <a href="#101" onclick="show(101)" class="qabtn"><div class="btnBox btnBox_y">①</div></a>
                    <a href="#3" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">②</div></a>
                </div>
            </li>
            <li id="3" class="question" style="display: none; min-height: 717px;">
                <a name="#"></a>
                <div class="qbox">
                <span class="q">Q.</span>
                食事をするなら①1人で食べる方が好きですか?②大勢で食べる方が好きですか?</div>
                <div class="qabox">
                    <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_y">①</div></a>
                    <a href="#104" onclick="show(104)" class="qabtn"><div class="btnBox btnBox_n">②</div></a>
                </div>
            </li>
            </ul>

            <div class="answerList">

                <div id="101" style="display:none;" class="answer point_box">
                    <div class="box" style="min-height: 717px;">
                        <div class="title1">
                        <p>あなたに勧めるご当地グルメは<span class="fs-18"><span class="bg-y">『』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <p>言わずと知れた新潟県の有名なお米</p>
                        
                    </div>
                    </div>
                </div>

                <div id="102" style="display:none;" class="answer point_box">
                    <div class="box" style="min-height: 717px;">
                        <div class="title1">
                        <p>あなたに勧めるご当地グルメは<span class="fs-18"><span class="bg-y">『』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <p>あまり聞いたことがないかもしれないけど、これも新潟県のお米</p>
                      
                    </div>
                    </div>
                </div>

                <div id="103" style="display:none;" class="answer point_box">
                    <div class="box" style="min-height: 717px;">
                        <div class="title1">
                        <p>あなたに勧めるご当地グルメは<span class="fs-18"><span class="bg-y">『』</span></span>です！</p>
                        </div>
                        <p>毎日の食事に最適な新潟県のお米</p>
                        
                    </div>
                    </div>
                </div>

                <div id="104" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title1">
                        <p>あなたに勧めるご当地グルメは<span class="fs-18"><span class="bg-y">「新之助」</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <p>新潟県でも新しく登場したお米</p>
                        
                    </div>
                    </div>
                </div>



        </article>
    </div>
</div>
-->